@* Copyright 2011 Matt Cosand and others (see AUTHORS.TXT)
 *
 * This file is part of SARTracks.
 *
 *  SARTracks is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  SARTracks is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with SARTracks.  If not, see <http://www.gnu.org/licenses/>.
 *@
@{
    ViewBag.Title = "Users";
}
<h2>
    Users</h2>
<table id="table" class="data-table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Approved
            </th>
            <th>
                Locked
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script type="text/javascript">
    function load() {
        $.ajax({ type: 'POST', url: '@Url.Action("GetUserList")', data: null, dataType: 'json',
            success: function (data) {
                var table = $('#table tbody').html('');
                for (var i in data) {
                    var row = data[i];

                    var html =
                    "<tr><td><img src=\"@Url.Content("~/Content/images/delete.png")\" onclick=\"killUser('" + row.UserName + "');\" />" +
                    "</td><td>" + row.UserName +
                    "</td><td>" + row.Email +
                    '</td><td><a href="#" onclick="setApproved(\'' + row.UserName + '\',' + !row.IsApproved + ')">' + row.IsApproved + '</a>' +
                    "</td><td>" + row.IsLocked +
                    "</td></tr>";

                    table.append(html);
                }
                updateSort($('#table'));
            }
        });
    }

    function setApproved(username, newState)
    {
      if (newState == true || confirm('Disable user "' + username + '"?'))
      {
          $.ajax({type: 'POST', url: '@Url.Action("SetUserApproved")', data: { q: username, approved: newState }, dataType: 'json',
              success: function(data) {
                load();
              }
          });
      }
    }

    function killUser(username)
    {
        if (confirm('Completely remove user "'+username+'"?'))
        {
          $.ajax({type: 'POST', url: '@Url.Action("DoRemoveUser")', data: { q: username }, dataType: 'json',
              success: function(data) {
                load();
              }
          });
        }
    }

    $(document).ready(function () {
        $('#table').tablesorter({ widgets: ['zebra'] });
        load();
    });
</script>
