@{
    ViewBag.Title = "Settings";
}

<h2>Settings</h2>
<div style=" border-radius:.5em; border:1px solid #999; padding:0 .5em .5em .5em">
<h4>Unit Status Types:</h4>
@{ Html.RenderPartial("_StatusTypes"); }
</div>