#project files to ignore
core.js

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.suo
*.bak
*.cache
*.log
bin
*.lib
*.sbr
obj
TestResults/

*.classpath
*.project
*.settings