<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<connectionStrings>
    <add name="Data" connectionString="Data Source=.\sqlexpress;Initial Catalog=SarTracks;Persist Security Info=True;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <appSettings>
    <add key="testDataInitializerType" value="SarTracks.Tests.Website.DevWebsiteDataInitializer, SarTracks.Tests.Website"/>
  </appSettings>
</configuration>