@{
    ViewBag.Title = "Roster Import Results";
}

<h2>Roster Import Results</h2>
<p>Roster import completed with @ViewData["rows"] rows imported successfully, and @ViewData["errors"] failures. Details on
the failures, if any, have been emailed to you.</p>