@{
    ViewBag.Title = "Reset Password";
}
<h2>
    Reset Password</h2>
<p>
    Use the form below to reset your password. A new password will be sent to the email
    address on record for your account.</p>
@using (Html.BeginForm())
{
    <div class="editor-label">
        Username:
    </div>
    <div class="editor-field">
        <input name="q" id="username" type="text" value="" />
    </div>
    <input type="submit" value="Reset Password" />
}